/*layout*/
.admin-layout {
  display: flex;
  min-height: 100vh;
  background: #c9af98;
}

/*content*/
.admin-content {
  flex: 1;
  padding: 40px 30px;
  max-width: 1400px;
  margin: auto;
}

/*heading*/
.admin-header {
  margin-bottom: 30px;
}

.admin-header h1 {
  font-size: 28px;
  margin-bottom: 6px;
  color: #3a4660;
}

.admin-header p {
  font-size: 14px;
  color: #845007;
}

.admin-content h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 18px;
  margin-top: 30px;
  color: #3a4660;
}

/*stats*/
.admin-stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.admin-stat-card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

.admin-stat-card h3 {
  font-size: 14px;
  margin-bottom: 8px;
  color: #845007;
}

.admin-stat-card p {
  font-size: 22px;
  font-weight: 700;
  color: #3a4660;
}

/*grid*/
.complaint-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

/*card*/
.card {
  background: white;
  border-radius: 16px;
  padding: 18px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 320px;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 12px;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card h3 {
  font-size: 16px;
  margin-bottom: 6px;
  color: #3a4660;
}

.description {
  font-size: 13px;
  color: #845007;
  margin-bottom: 14px;
  line-height: 1.5;
}

/*dropdown*/
.card-bottom {
  margin-top: auto;
}

.card select {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 13px;
}

/*badge*/
.resolved-badge {
  display: inline-block;
  padding: 4px 10px;
  background: #ed8a63;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  margin-top: 5px;
}

/*map*/
.map-section {
  margin-top: 30px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

/*responsive*/
@media (max-width: 768px) {
  .admin-layout {
    flex-direction: column;
  }

  .admin-content {
    padding: 20px;
  }

  .admin-header h1 {
    font-size: 22px;
  }
}
