html, body {
  height: 100%;
  margin: 0;
}

/*layout*/
.register-wrapper {
  height: 100dvh;
  min-height: 100vh;

  background:
    linear-gradient(rgba(10, 23, 51, 0.65), rgba(10, 23, 51, 0.65)),
    url("../assets/waste1.jpg") no-repeat center center / cover;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2vw;
}

/*card*/
.register-card {
  width: 100%;
  max-width: 380px;

  background:#ffffff;
  padding: 2rem;
  border-radius: 16px;

  box-shadow: 0 6px 18px rgba(0,0,0,0.08);

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/*title*/
.register-title {
  align-self: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: #3a4660;
}

.register-title span {
  color: #ed8a63;
}

.register-card h2 {
  margin-top: 0;
  align-self:center ;
  font-size: 1rem;
  color: #845007;
}

.register-subtext {
  font-size: 0.85rem;
  color: #845007;
  margin-bottom: 0.5rem;
}

/*form*/
form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/*inputs*/
.input-group {
  width: 100%;
}

.input-group input {
  width: 100%;
  height: 42px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  box-sizing: border-box;
  transition: 0.2s ease;
}

.input-group input:focus {
  outline: none;
  border-color: #ed8a63;
}

/*button*/
.full-btn {
  width: 100%;
  height: 42px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;

  background: #ed8a63;
  color: white;

  transition: 0.3s ease;
}

.full-btn:hover {
  background: #845007;
}

/*footer*/
.login-link {
  text-align: center;
  font-size: 0.85rem;
  color: #845007;
}

.login-link span {
  color: #ed8a63;
  font-weight: 600;
  cursor: pointer;
}

.login-link span:hover {
  text-decoration: underline;
}

/*responsive*/
@media (max-width: 480px) {
  .register-card {
    padding: 1.5rem;
  }
}
