.navbar {
  background: white;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
}

.navbar h2 {
  font-weight: 700;
  font-size: 20px;
  color: #f97316;
}

.nav-links button {
  margin-left: 16px;
  padding: 10px 18px;
  border-radius: 12px;
  border: none;
  background: #f8fafc;
  cursor: pointer;
}

.nav-links button:hover {
  background: #fff7ed;
}
